
.errores{
-webkit-boxshadow: 0 0 10px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
-o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
background: red ;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
color: #fff;
display: none;
font-size: 14px;
margin-top: -60px;
margin-left: 20%;
padding: 10px;
position: absolute;
}


#pswd_info
{
color:black;
display: none;
font-size: 14px;
margin-top: 5px;
margin-left:22%;
position: absolute;
}

#Varpswd_info
{
color:black;
display: none;
font-size: 14px;
margin-top: 80px;
margin-left:22%;
padding: 10px;
position: absolute;
}
